@font-face {
    font-family: "Blazium";
    src: url("fonts/blazium.ttf");
}

h2 {
    font-family: "Blazium", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.hidden {
    visibility: hidden;
}

#forceWindow {
    position: fixed;
    top: 5em;
    left: 5em;
    width: 10em;
    background-color: antiquewhite;
}

.entry {
    clear: both;
    padding: 1em;
    border: 1px black solid;
    margin: .5em;
    display: table;
}

.entry span {
    padding-left: .5em;
    padding-right: .5em;
}

.loadout {
    display: block;
}

.squaddie {
    padding: .5em;
    border: 1px black solid;
    margin-top: 1em;
}

table{
    border-spacing: 0px;
    border: 2px black solid;
    margin: 1em;
}

td {
    border: 1px solid;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .25em;
    padding-bottom: .25em;
    text-align: center;
}

.tableHeader {
    background-color: rgb(255, 240, 86);
}